html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
	background-color: transparent;
	color: white;
}

body {
	background-color: rgb(180, 180, 180);
}

figure {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0 auto;
}

figure ul {
	border-right: 5px solid white;
	border-left: 5px solid white;
}

figure ul:first-child {
	border-top: 5px solid white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

figure ul:last-child {
	border-bottom: 5px solid white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    margin: 20px 0px;
}

figure li {
    border-left: 1px solid rgb(23, 24, 25);
    border-bottom: 1px solid rgb(23, 24, 25);
    width: 23px;
    height: 23px;
    background-color: rgb(9, 11, 12);
    float: left;
}

.i {
    background-color: rgb(0, 240, 240);
		border-bottom: 3px solid rgb(0, 120, 120);
    border-right: 3px solid rgb(0, 216, 216);
    border-left: 3px solid rgb(0, 216, 216);
    border-top: 3px solid rgb(179, 271, 271);
}

.brick {
	background-color: rgb(240, 240, 0);
	border-bottom: 3px solid rgb(120, 120, 0);
	border-right: 3px solid rgb(216, 216, 0);
	border-left: 3px solid rgb(216, 216, 0);
	border-top: 3px solid rgb(271, 271, 179);
}

.red-z {
	background-color: rgb(240, 0, 0);
	border-bottom: 3px solid rgb(120, 0, 0);
	border-left: 3px solid rgb(216, 0, 0);
	border-right: 3px solid rgb(216, 0, 0);
	border-top: 3px solid rgb(251, 179, 179);
}

.green-z {
	background-color: rgb(0, 240, 0);
	border-bottom: 3px solid rgb(0, 120, 0);
	border-left: 3px solid rgb(0, 216, 0);
	border-left: 3px solid rgb(0, 216, 0);
	border-top: 3px solid rgb(179, 251, 179);
}

.t {
	background-color: rgb(160, 0, 240);
	border-bottom: 3px solid rgb(80, 0, 120);
	border-left: 3px solid rgb(144, 0, 216);
	border-right: 3px solid rgb(144, 0, 216);
	border-top: 3px solid rgb(227, 179, 251);
}

.orange-l {
	background-color: rgb(240, 160, 0);
	border-bottom: 3px solid rgb(120, 80, 0);
	border-right: 3px solid rgb(216, 144, 0);
	border-left: 3px solid rgb(216, 144, 0);
	border-top: 3px solid rgb(251, 227, 179);
}

.blue-l {
	background-color: rgb(0, 0, 240);
	border-bottom: 3px solid rgb(0, 0, 120);
	border-right: 3px solid rgb(0, 0, 216);
	border-left: 3px solid rgb(0, 0, 216);
	border-top: 3px solid rgb(179, 179, 251);
}

.show {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 19px;
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
}

.no-show {
	color: transparent;
}

#title {
	font-family: roboto;
	font-size: 36px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container {
    align-items: center;
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

.container > * {
	margin: 0px 30px;
}

.tetris-container {
	min-width: 240px;
}

.controls {
    border: 3px solid white;
    border-radius: 5px;
    padding: 20px;
		background-color: rgb(40, 40, 40);
}

.general-info {
    border: 3px solid white;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    color: white;
}

.not-used-yet {
    background-color: black;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 5px;
    padding: 10px;
}


.controls h2 {
		letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px black;
}

.controls ul {
    border: 10px solid black;
    border-radius: 5px;
}

.controls ul li {
	background-color: rgb(100, 100, 100);
	letter-spacing: 1px;
	border-bottom: 1px solid black;
	padding: 6px 20px;
}
